<ngx-loading [show]="loading"></ngx-loading>

<app-hero-search [heroes]="heroes" (onSearch)="search($event)"></app-hero-search>

<div class="row">
  <div *ngIf="searchHeroes; else notSearch">
    <div class="item col-md-3" *ngFor="let hero of searchHeroes | paginate: {itemsPerPage: 8, currentPage: p}">
      <a (click)="onReload()" [routerLink]="['detail/', hero.Id]" class="thumbnail">
        <img *ngIf="hero.Images; else notImage" [src]="hero.Images" [alt]="hero.Name"/>

        <ng-template #notImage>
          <h4>{{ hero.Name }}</h4>
        </ng-template>
      </a>
    </div>
  </div>

  <ng-template #notSearch>
    <div class="item col-md-3" *ngFor="let hero of heroes | paginate: {itemsPerPage: 8, currentPage: p}">
      <a (click)="onReload()" [routerLink]="['detail/', hero.Id]" class="thumbnail">
        <img *ngIf="hero.Images; else notImage" [src]="hero.Images" [alt]="hero.Name"/>

        <ng-template #notImage>
          <h4>{{ hero.Name }}</h4>
        </ng-template>
\      </a>
    </div>
  </ng-template>
</div>

<pagination-controls (pageChange)="p = $event"
                      [responsive]="true"
                      nextLabel="Próximo"
                      previousLabel="Anterior"></pagination-controls>

<router-outlet></router-outlet>
